#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-logo-container {
  position: absolute;
  width: 64px;
  height: 64px;
  border-style: solid;
  border-color: #f4f3f1f0;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 16px;
  left: 16px;
  font-family: ubuntu mono;
}

.text-logo-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 29px;
}

p {
  margin: 0;
  padding: 0;
}
